In [1]:
import os
import pandas as pd
import json

In [7]:
folder = 'supervised_rf'
full_path = '/home/haitong/PycharmProjects/low_rank_learning/log/mvn/nce'
dfs = []
for dir in os.listdir(full_path):
    try:
        exp_path = os.path.join(full_path, dir)
        args_path = os.path.join(exp_path, 'args.json')
        with open(args_path, 'r') as f:
            args_dict = json.load(f)
        args_dict['exp_name'] = dir
        dfs.append(pd.DataFrame(args_dict, index=[0]))
    except:
        pass
df = pd.concat(dfs, ignore_index=True)
df_filtered = df.loc[:, df.nunique() > 1]
df_filtered

              exp_name
0  2024-06-04-22-25-33
1  2024-06-04-22-36-08

In [8]:
df.loc[:, df.nunique() == 1]

,device,train_batches,train_batch_size,dynamics,sigma,sample,sin_cos_obs,prob_labels,layer_normalization,preprocess,...,hidden_depth,logprob_regularization,logprob_regularization_weights,integral_normalization,integral_normalization_weights,sigmoid_output,nce_loss,nce_lr,noise_dist,num_classes
0,cuda,10000,1024,mvn,4.0,uniform_theta,False,conditional,True,none,...,3,False,1.0,True,0.1,False,ranking,0.00003,uniform,3
1,cuda,10000,1024,mvn,4.0,uniform_theta,False,conditional,True,none,...,3,False,1.0,True,0.1,False,ranking,0.00003,uniform,3